html {
    background: $color-black-03;
}

body {
    margin: 0;
    background: $color-black-03;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;

    &.body--fixed {
        position: fixed;
    }
}
