body {
    font-family: $font-family-primary;
    font-size: $font-size-default;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

p {
    margin-bottom: 2rem;

    &:last-child {
        margin-bottom: 0;
    }
}

code, pre {
    font-family: Menlo, Monaco, monospace;
    font-size: .85rem;
}

.text-size {
    &--s {
        font-size: $font-size-s;
    }

    &--m {
        font-size: $font-size-m;
        margin-bottom: 1.5rem;
    }

    &--l {
        font-size: $font-size-l;
        margin-bottom: 1.5rem;
    }

    &--xl {
        font-size: 2.0rem;
        line-height: 1.25;
        margin-bottom: 2rem;

        @media (min-width: $breakpoint-l) {
            font-size: $font-size-xl;
        }
    }

    &--xxl {
        font-size: 2.5rem;
        line-height: 1.25;
        margin-bottom: 4rem;

        @media (min-width: $breakpoint-l) {
            font-size: $font-size-xxl;
        }
    }
}

h1, .h1 {
    @extend .text-size--xl;

    .vds-badge {
        vertical-align: 50%;
    }
}

h2, .h2 {
    @extend .text-size--l;

    .vds-badge {
        vertical-align: 50%;
    }
}

h3, .h3 {
    @extend .text-size--m;
}

h4, .h4 {
    font-size: $font-size-default;
    font-weight: 600;
    margin-bottom: .5rem;
}

.text-align {
    &--right {
        text-align: right !important;
    }

    &--left {
        text-align: left !important;
    }
}

a {
    color: $color-blue;
    text-decoration: none;
    position: relative;

    &:visited {
        color: $color-blue;
    }

    &:hover {
        color: $color-blue-80;
        text-decoration: underline;
    }

    &.a--inherit {
        &:link, &:hover, &:visited {
            color: inherit;
        }
    }

    &.a--destructive {
        &:link, &:hover, &:visited {
            color: $color-red;
        }
    }
}

p a {
    &:after {
        width: 100%;
    }

    &:hover {
        &:after {
            width: 0%;
        }
    }
}

strong, .strong {
    font-weight: bold;
}

.normal {
    font-weight: normal;
}

.text {
    &--subtle {
        opacity: .6;
    }

    &--longread {
        max-width: 88ch;
    }
}

ul, .ul {
    margin: 0;
    margin-bottom: 1.5rem;
    padding-left: 1.5rem;

    & > li {
        margin-bottom: .5rem;
    }

    &--compact {
        padding-left: .5rem;
    }

    &--tight {
        padding-left: 0;
        list-style-type: none;
    }
}

ol {
    margin: 0;
    margin-bottom: 1.5rem;
    padding-left: 1.5rem;

    & > li {
        margin-bottom: .5rem;
    }
}

mark {
    background: $color-yellow-40;
}