.visuallyhidden:not(:focus):not(:active) {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    white-space: nowrap;
}

@keyframes vds-fadeOut {
    from {opacity:1;}
    to {opacity:0;}
}
.vds-hide {
    animation: vds-fadeOut $duration-l;
}

.hidden {
    display: none !important;
}

button {
    cursor: pointer;
}
