// font stack
$font-family-primary: 'Assistant', 'Trebuchet MS', sans-serif;
$font-family-secondary: 'Crete Round', serif;
$line-height-base: 1.25;

$font-size-default: 1rem;
$font-size-s: .8rem;
$font-size-m: 1.25rem;
$font-size-l: 1.5rem;
$font-size-xl: 2.5rem;
$font-size-xxl: 3rem;

// transition lengths
$duration-s: 80ms;
$duration-m: 160ms;
$duration-l: 320ms;
$duration-xl: 640ms;
$duration-xxl: 1280ms;

// primary brand colors
$color-white: #FFF;

$color-black: #141919;
$color-black-03: #F8F8F8;
$color-black-10: #E7E8E8;
$color-black-20: #D0D1D1;
$color-black-40: #A1A3A3;
$color-black-60: #727575;
$color-black-80: #434747;

$color-yellow: #F0D219;
$color-yellow-20: #fcf6d1;
$color-yellow-40: #f9eda3;
$color-yellow-60: #f6e475;
$color-yellow-80: #f3db47;

$color-turquoise: #0FD7BE;
$color-turquoise-20: #cff7f2;
$color-turquoise-40: #9fefe5;
$color-turquoise-60: #6fe7d8;
$color-turquoise-80: #3fdfcb;

$color-red: #DC2850;
$color-red-20: #f8d4dc;
$color-red-40: #f1a9b9;
$color-red-60: #ea7e96;
$color-red-80: #e35373;

// secondary brand colors
$color-blue: #1572EA;
$color-blue-20: #d1e3fb;
$color-blue-40: #a2c7f7;
$color-blue-60: #73abf3;
$color-blue-80: #448fef;
$color-blue-dark: #3E5573;

$color-purple: #B95FE4;
$color-purple-20: #f1dffa;
$color-purple-40: #e3bff4;
$color-purple-60: #d59fef;
$color-purple-80: #c77fe9;

$color-orange: #FA9B23;
$color-orange-20: #feebd3;
$color-orange-40: #fdd7a7;
$color-orange-60: #fcc37b;
$color-orange-80: #fbaf4f;

$color-green: #78D250;
$color-green-20: #e4f6dc;
$color-green-40: #c9edb9;
$color-green-60: #aee496;
$color-green-80: #93db73;

// breakpoints
$breakpoint-m: 48rem;
$breakpoint-l: 64rem;
$breakpoint-xl: 88rem;

@mixin colors {
  &--yellow {
    color: $color-yellow;
  }

  &--yellow-40 {
    color: $color-yellow-40;
  }

  &--yellow-60 {
    color: $color-yellow-60;
  }

  &--yellow-80 {
    color: $color-yellow-80;
  }

  &--turquoise {
    color: $color-turquoise;
  }

  &--turquoise-40 {
    color: $color-turquoise-40;
  }

  &--turquoise-60 {
    color: $color-turquoise-60;
  }

  &--turquoise-80 {
    color: $color-turquoise-80;
  }

  &--red {
    color: $color-red;
  }

  &--red-40 {
    color: $color-red-40;
  }

  &--red-60 {
    color: $color-red-60;
  }

  &--red-80 {
    color: $color-red-80;
  }

  &--blue {
    color: $color-blue;
  }

  &--blue-40 {
    color: $color-blue-40;
  }

  &--blue-60 {
    color: $color-blue-60;
  }

  &--blue-80 {
    color: $color-blue-80;
  }

  &--purple {
    color: $color-purple;
  }

  &--purple-40 {
    color: $color-purple-40;
  }

  &--purple-60 {
    color: $color-purple-60;
  }

  &--purple-80 {
    color: $color-purple-80;
  }

  &--orange {
    color: $color-orange;
  }

  &--orange-40 {
    color: $color-orange-40;
  }

  &--orange-60 {
    color: $color-orange-60;
  }

  &--orange-80 {
    color: $color-orange-80;
  }

  &--green {
    color: $color-green;
  }

  &--green-40 {
    color: $color-green-40;
  }

  &--green-60 {
    color: $color-green-60;
  }

  &--green-80 {
    color: $color-green-80;
  }

  &--black-10 {
    color: $color-black-10;
  }

  &--black-20 {
    color: $color-black-20;
  }
}

@mixin background-colors {
  &--yellow {
    background: $color-yellow;
    color: $color-black;
  }

  &--yellow-40 {
    background: $color-yellow-40;
    color: $color-black;
  }

  &--yellow-60 {
    background: $color-yellow-60;
    color: $color-black;
  }

  &--yellow-80 {
    background: $color-yellow-80;
    color: $color-black;
  }

  &--turquoise {
    background: $color-turquoise;
    color: $color-black;
  }

  &--turquoise-40 {
    background: $color-turquoise-40;
    color: $color-black;
  }

  &--turquoise-60 {
    background: $color-turquoise-60;
    color: $color-black;
  }

  &--turquoise-80 {
    background: $color-turquoise-80;
    color: $color-black;
  }

  &--red {
    background: $color-red;
  }

  &--red-40 {
    background: $color-red-40;
    color: $color-black;
  }

  &--red-60 {
    background: $color-red-60;
    color: $color-black;
  }

  &--red-80 {
    background: $color-red-80;
    color: $color-black;
  }

  &--blue {
    background: $color-blue;
  }

  &--blue-40 {
    background: $color-blue-40;
    color: $color-black;
  }

  &--blue-60 {
    background: $color-blue-60;
    color: $color-black;
  }

  &--blue-80 {
    background: $color-blue-80;
    color: $color-black;
  }

  &--purple {
    background: $color-purple;
  }

  &--purple-40 {
    background: $color-purple-40;
    color: $color-black;
  }

  &--purple-60 {
    background: $color-purple-60;
    color: $color-black;
  }

  &--purple-80 {
    background: $color-purple-80;
    color: $color-black;
  }

  &--orange {
    background: $color-orange;
  }

  &--orange-40 {
    background: $color-orange-40;
    color: $color-black;
  }

  &--orange-60 {
    background: $color-orange-60;
    color: $color-black;
  }

  &--orange-80 {
    background: $color-orange-80;
    color: $color-black;
  }

  &--green {
    background: $color-green;
  }

  &--green-40 {
    background: $color-green-40;
    color: $color-black;
  }

  &--green-60 {
    background: $color-green-60;
    color: $color-black;
  }

  &--green-80 {
    background: $color-green-80;
    color: $color-black;
  }

  &--black-10 {
    background: $color-black-10;
    color: $color-black;
  }

  &--black-20 {
    background: $color-black-20;
    color: $color-black;
  }
}
