.vds-badge {
    padding: 0 .25rem;
    text-transform: uppercase;
    font-size: $font-size-s;
    color: $color-white;
    font-weight: 600;
    border-radius: .25rem;

    &--no-grow {
        display: inline-block;
    }

    @include colors;
}
