.vds-button {
    appearance: none;
    padding: .5rem 1rem;
    border-radius: .25rem;
    border: none;
    color: $color-white;
    font-size: $font-size-default;
    line-height: 1.5rem;
    display: inline-block;

    &--primary {
        background: $color-blue;

        &:focus {
            outline: none;
            border-color: $color-blue;
            box-shadow: 0 0 0 0.25rem lighten($color-blue, 40);
            color: $color-white;
        }

        &:hover {
            background: darken($color-blue, 10);
            text-decoration: none;
            color: $color-white;
        }

        &:active {
            background: darken($color-blue, 20);
            color: $color-white;
        }

        &:visited {
            color: $color-white;
        }
    }

    &--secondary {
        background: $color-white;
        border: 2px solid $color-blue;
        padding: calc(.5rem - 2px) calc(1rem - 2px);
        color: $color-blue;

        &:focus {
            outline: none;
            border-color: $color-blue;
            box-shadow: 0 0 0 0.25rem lighten($color-blue, 40);
            color: $color-blue;
        }

        &:hover {
            background: $color-blue;
            color: $color-white;
            text-decoration: none;

            i {
                background: $color-white;
            }
        }

        &:active {
            background: darken($color-blue, 10);
            color: $color-white;

            i {
                background: $color-white;
            }
        }

        &:visited {
            color: $color-blue;

            &:hover {
                color: $color-white;

                i {
                    background: $color-white;
                }
            }
        }
    }

    &--compact {
        // TODO
    }

    &--comfy {
        padding: 1rem 1.5rem;
        line-height: 2rem;
    }

    &[disabled] {
        background: $color-black-03;
        border-color: $color-black-03;
        color: $color-black-40;
        cursor: not-allowed;
        pointer-events: none;
    }
}
