.vds-icon {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;

    // fix alignment
    position: relative;
    top: -0.125rem;
    vertical-align: middle;

    &--before {
        margin-right: 1rem;
    }

    &--after {
        margin-left: 1rem;
    }

    &--tight-before {
        margin-right: .5rem;
    }

    &--tight-after {
        margin-left: .5rem;
    }

    $icons: 'account_balance', 'add', 'add_circle', 'archive', 'arrow_back', 'arrow_downward', 'arrow_forward',
            'arrow_upward', 'assignment', 'attachment', 'block', 'book', 'bookmark', 'cached', 'calendar_check',
            'calendar_today', 'chevron_left', 'chevron_right', 'clear', 'comment', 'content_copy', 'delete',
            'devices_other', 'done', 'done_all', 'dots_grid', 'drag_handle', 'email', 'expand_less', 'expand_more',
            'event', 'face', 'favorite', 'favorite_border', 'fingerprint', 'flag', 'get_app', 'grid_on', 'heading',
            'home', 'info', 'input_box', 'label', 'language', 'launch', 'link', 'list_checkbox', 'list_radio',
            'location_city', 'notifications_active', 'paragraph', 'phone', 'public', 'receipt', 'refresh', 'remove',
            'reply', 'school', 'search', 'speed', 'star', 'supervisor_account', 'textarea_box', 'textsms', 'tilde',
            'timeline', 'warning';

    @each $icon in $icons {
        &--#{$icon} {
            background: $color-black;
            mask-image: url('../../img/icons/#{$icon}-24px.svg');
            -webkit-mask-image: url('../../img/icons/#{$icon}-24px.svg');
        }
    }

    &--yellow {
        background: $color-yellow;
    }

    &--red {
        background: $color-red;
    }

    &--green {
        background: $color-green;
    }

    &--white {
        background: $color-white;
    }

    &--blue {
        background: $color-blue;
    }

    &--black-60 {
        background: $color-black-60;
    }
}
