.vds-inline-edit {
    position: relative;

    &__trigger {
        display: inline-block;
        min-width: 5rem;
        min-height: 1.5rem;
        border-bottom: 1px dotted $color-black-20;

        &:hover {
            background: $color-blue-20;
            border-bottom: 1px dotted $color-blue;
            border-radius: .25rem;
            cursor: pointer;
        }
    }

    &__editor {
        position: absolute;
        z-index: 1;
        top: 24px;
        left: 0;
        background: $color-white;
        padding: .5rem;
        border: 1px solid $color-black-20;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
        border-radius: .25rem;
    }

    &__form {
        display: flex;

        &.vds-inline-edit__form--textarea {
            flex-wrap: wrap;

            .vds-textarea {
                height: 20rem;
                flex-shrink: 0;
                margin-bottom: .5rem;
            }

            .vds-inline-edit__submit {
                margin-left: 0;
            }
        }
    }

    &__suffix {
        margin-left: .25rem;
        line-height: 2.5rem;
    }

    &__hint {
        @extend .text-size--s;
        color: $color-black-60;
        display: block;
        max-width:25rem;
        padding: 1rem .25rem;
    }

    &__submit {
        margin-left: 1rem;
        height: 2.5em;
    }

    &__cancel {
        margin-left: .25rem;
        height: 2.5em;
        font-size:1rem;
        padding:0 .25rem;
        line-height: 1.5rem;
        display: flex;
        align-items: center;
        
        i {
            top:0;
        }
    }
}
