.vds-popover {
    border-radius: 0.25rem;
    padding: 1rem;
    margin-top: 1rem;
    position: relative;
    max-width: 30em;
    background-color: $color-white;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3),
        0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);

    &:before {
        // layout
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        bottom: 100%;
        left: 1rem; // offset should move with padding of parent
        border: 0.75rem solid transparent;
        border-top: none;

        // looks
        border-bottom-color: $color-white;
        filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
    }

    &--pos-top-right {
        &:before {
            right: 1rem;
            left: unset;
        }
    }

    &--pos-top-center {
        &:before {
            left: 50%;
        }
    }

    &--width-small {
        width: 14rem;
    }

    &--width-large {
        width: 21rem;
    }

    &__close {
        cursor: pointer;
        padding: 1rem;
        position: absolute;
        top: 0;
        right: 0;
    }

    &__actions {
        list-style-type: none;
        padding: 0;
        margin-left: -1rem;
        margin-right: -1rem;
        margin-bottom: 0;

        li {
            margin-bottom: 0;

            a {
                display: block;
                padding: .5rem 1rem .5rem .75rem;
                border-left: .25rem solid transparent;

                &:hover {
                    border-left-color: $color-blue;
                    background: $color-blue-20;
                }
            }

            & > span {
                display: block;
                padding: .5rem 1rem .5rem 1rem;
            }
        }
    }
}
