.vds-popover {
    border-radius: 0.25rem;
    padding: 1rem;
    margin-top: 1rem;
    position: relative;
    max-width: 30em;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3),
        0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);

    &:before {
        // layout
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        bottom: 100%;
        left: 1rem; // offset should move with padding of parent
        border: 0.75rem solid transparent;
        border-top: none;

        // looks
        border-bottom-color: #fff;
        filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
    }
    &__close {
        cursor: pointer;
        padding: 1rem;
        position: absolute;
        top: 0;
        right: 0;
    }
}
