.vds-profile {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    color: $color-white;
    font-weight: 600;
    font-size: $font-size-s;
    border-radius: 8rem;
    min-width: 1.5rem;
    line-height: 1.5rem;
    background-color: $color-black;
}
