.vds-tabs {
    margin: 0;
    padding: 0;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid $color-black-20;
    overflow-x: auto;

    &__item {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-right: 1rem;
        flex-shrink: 0;

        a {
            display: block;
            padding: .75rem .5rem;
            color: $color-black-60;

            &:hover {
                text-decoration: none;
                background: $color-black-20;
                color: $color-black;
                border-bottom: 3px solid $color-black-60; // 3+1 px from above makes 4px total
            }
        }

        &--active {
            a {
                font-weight: 600;
                color: $color-black;
                border-bottom: 3px solid $color-black-20; // 3+1 px from above makes 4px total
            }
        }
    }

    &--vertical {
        border-left: 1px solid $color-black-20;
        border-bottom: none;
        flex-direction: column;

        .vds-tabs__item {
            margin-right: 0;
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                border-left: 3px solid transparent;

                &:hover {
                    border-left: 3px solid $color-black-60;
                    border-bottom: none;
                }
            }

            &--active {
                a {
                    border-left: 3px solid $color-black-20; // 3+1 px from above makes 4px total
                    border-bottom: none;
                }
            }
        }
    }
}
